@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Assistant', sans-serif;
}



header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    box-shadow: 0 1px 0.5px 0.5px rgb(230, 223, 223);
    padding: 15px 30px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    background-color: white;
    z-index: 999999999;
    
}


header .logo {
    width: 20%;
    background-image: url(../Images/MyntraWebSprite_27_01_2021.png);
    width: 53px;
    height: 36px;
    background-size: 1404px 105px;
    background-position: -462px 0px;
    margin-right: 20px;
}

header nav {
    width: 30%;
    text-transform: uppercase !important;
}

header nav > ul {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    justify-content: space-between;
}

header nav > ul > li {
    position: relative;
}

/* header nav > ul > li a {
    font-weight: 700;
    color: rgb(40, 44, 63);
    text-transform: uppercase;
} */

header nav ul li:last-child {
    position: relative;
}

header nav ul li:last-child sup {
    position: absolute;
    font-size: 12px;
    color: red;
    top: -7px;
}

.menu{
    /* border: 1px solid green; */
    position:fixed;
    visibility: hidden;
    left: 80px;
    /* height: 800px; */
    opacity: 0;
    transition: 0.4s; 
}

header nav > ul > li:hover .menu{
    visibility: visible; 
    opacity: 1;
}

header nav > ul > li > .menu > .innermenu {
    padding: 15px 30px 25px;
    opacity: 0;
    /* visibility: hidden; */
    /* transition: 20s; */
    z-index: 1;
    margin-top: 33px;
    left: 0;
    background-color: white;
}

header nav > ul > li:hover .innermenu {
    opacity: 1;
    visibility: visible;

}

header nav > ul > li::before {
    content: '';
    position: absolute;
    height: 3px;
    /* background-color: black; */
    visibility: hidden;
    width: 120%;
    top: 48px;
    left: -2px;
    /* transition: 0.6s; */
    z-index: 22;
    

}

header nav > ul > li:hover:nth-child(1)::before{
    visibility: visible;
    background-color: #EE5F73;
}
header nav > ul > li:hover:nth-child(2)::before{
    visibility: visible;
    background-color: #FB56C1;
}
header nav > ul > li:hover:nth-child(3)::before{
    visibility: visible;
    background-color: #F26A10;
}
header nav > ul > li:hover:nth-child(4)::before{
    visibility: visible;
    background-color: #F2C210;
}
header nav > ul > li:hover:nth-child(5)::before{
    visibility: visible;
    background-color: #0DB7AF;
}
header nav > ul > li:hover:nth-child(6)::before{
    visibility: visible;
    background-color: #FF3F6C;
}

.innermenu {
    position: relative;
    width: 1050px;
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 0 1px 5px 2px gray;
    line-height: 23px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    /* border: 1px solid black; */
    /* top: 51px; */
    height: 500px;
}

.innermenu > ul {
    margin: 0 10px;
    width: 100%;

}

.innermenu > ul > li {
    /* background-color: yellow; */
    padding: 0 10px;
    
}

.innermenu hr {
    margin: 15px 0;
    border: #EAEAEC solid 0.5px;
}

.innermenu > ul > li > span > a{
    
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    /* padding: 30px 0 ; */
}

nav > ul > li:nth-child(1) .innermenu > ul > li > span > a{
    color: #EE5F73;
}

nav > ul > li:nth-child(2) .innermenu > ul > li > span > a{
    color:#FB56C1;
}

nav > ul > li:nth-child(3) .innermenu > ul > li > span > a{
    color:#F26A10;
}

nav > ul > li:nth-child(4) .innermenu > ul > li > span > a{
    color:#F2C210;
}

nav > ul > li:nth-child(5) .innermenu > ul > li > span > a{
    color:#0DB7AF;
}

.innermenu > ul > li > ul > a:hover li{
    font-weight: bold;
    /* color: #EE5F73;
    padding-right: 10px; */
    
}

nav .studio {
    position: absolute;
    width: 500px;
    /* background-color: yellow; */
    padding-top: 33px;
    left: -200px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

nav > ul > li:last-child:hover .studio {
    visibility: visible;
    opacity: 1;

}

nav .studio > .studio-body {
    height: 400px;
    /* border: 1px solid; */
    background-color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 1px 10px black;

}

nav .studio > .studio-body img:nth-child(1) {
    width: 30%;
}

nav .studio > .studio-body > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(83, 87, 102) ;
    margin-top: 20px;
}

nav .studio > .studio-body img:nth-child(3)  {
    margin-top: 25px;
    width: 90% ;
}

header .search {
    text-align: center;
    width: 45%;
    margin-left: 120px;
    margin-right: 20px;
    padding: 5px;
    position: relative;
}

header .search img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 18px;
}

header .search input {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(230, 223, 223);
    border-radius: 5px;
    outline: none;
    padding: 10px 0 10px 40px;
    background-color: #F5F5F6;
}

header .search input:focus {
    background-color: white;
}

header .user {
    display: flex;
    justify-content: space-between;
    width: 10%;
    text-align: center;
    margin-top: -10px;
    /* background-color: yellow; */
    margin-right: 20px;
    
}

header .user .profile,
header .user .wishlist,
header .user .bag {
    position: relative;
    padding-top: 18px;
}

header .user .profile {
    width: 24px;
    height: 24px;
    background-image: url(../Images/MyntraWebSprite_27_01_2021.png);
    background-position: -298px -56px;
    background-size: 1404px 105px;
    top: 1px;
}

header .user .wishlist {
    width: 17px;
    height: 22px;
    background-image: url(../Images/MyntraWebSprite_27_01_2021.png);
    background-position: -315px -187px;
    background-size: 1404px 105px;
}

header .user .bag {
    width: 22px;
    height: 22px;
    background-image: url(../Images/MyntraWebSprite_27_01_2021.png);
    background-position: -341px -56px;
    background-size: 1404px 105px;
}

.text {
    font-weight: 700;
    letter-spacing: 0.9px;
}

header .user .profile .text {
    padding: 5px 25px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: -31px;
    top: 18px;
}

header .user .wishlist .text {
    padding: 5px 25px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: -35px;
}

header .user .bag .text {
    padding: 5px 25px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: -23px;
}

.FreeShippingBanner-sidebar {
    display: flex;
    /* border: 1px solid black; */
    width: 200px;
    height: 40px;
    padding: 10px;
    justify-content: space-between;
    background-color: #535766;
    position: fixed;
    rotate: -90deg;
    right: -80px;
    bottom: 200px; 
}

.FreeShippingBanner-sidebar > .text,
.FreeShippingBanner-sidebar i {
    color: white;
}

.FreeShippingBanner-sidebar > .arrow {
    
}

.FreeShippingBanner-sidebar > .arrow > i {
    rotate: -90deg;
    color: white;
}

main {
    
}

main > .Flat-300 {
    margin: auto;
    padding: 0 80px;
}

main > .Flat-300 a img {
    width: 100%;
}

main > .himher {
    display: flex;
    margin: auto;
    padding: 0 80px;
    /* width: 100%; */
}

main > .himher > .her {
    width: 100%;
}

main > .himher > .him {
    width: 100%;
}

main > .himher > .her a img {
    width: 100%;
}

main > .himher > .him a img {
    width: 100%;
}

main > .bank-offers {
    display: flex;
    margin:auto;
    padding: 0 80px;
    /* border: 1px solid black; */
}

main > .bank-offers > .offer {
    width: 100%;
}

main > .bank-offers > .offer a img {
    width: 100%;
    /* border: 1px solid black; */

}

main > .coupon-corner {
    margin: auto;
    padding: 0 80px;
}

main > .coupon-corner > a img {
    width: 100%;
}

main > .coupons {
    display: flex;
    margin:auto;
    padding: 0 80px;
}

main > .coupons > .coupon {
    width: 100%;
}

main > .coupons > .coupon > a img {
    width: 100%;
}

main > .omgdeals {
    margin:auto;
    padding: 0 80px;
    /* width: 100%; */
    /* border: 1px solid; */
}

main > .omgdeals > a img {
    width: 100%;
}

main > .sliders {

}

main > .sliders > .slider-image {
    display: flex;
    margin:auto;
    padding: 0 80px;
    /* width: 100%; */
    /* border: 1px solid black; */
}

main > .sliders > .slider-image a, 
main > .sliders > .slider-image img {
    width: 100%;
}

main > .shopbycatagory {
    margin: auto;
    padding: 0 80px;
}

main > .shopbycatagory > a img {
    width: 100%;

}


main > .catagory {
    /* background-color: #EE5F73; */
    padding: 0 40px;
}

main > .catagory .catagory-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* background-color: #0DB7AF; */
    width: 96%;
    margin: auto;    
}

main > .catagory .catagory-image .images  {
    margin: 0;
    /* border: 5px solid black; */
    /* width: 320px; */
    width: 16%;
 
}

main > .catagory .catagory-image .images img {
    width: 100%;
}

main > .catagory .last-catagory-image {
    display: flex;
    justify-content: center;
    width: 100;
}

main > .catagory .last-catagory-image .images {
    width: 18%;
}

main > .catagory .last-catagory-image .images img {
    width: 100%;
}

main > .catagory-below-banner {
    padding: 50px 90px;
}

main > .catagory-below-banner > a img {
    width: 100%;
    margin: auto;
    
}

















footer {
    background-color: #FAFBFC;
    width: 100%;
    /* height: 1000px; */
    
}

footer > .container {
    width: 1140px;
    /* border: 1px solid black; */
    margin: auto;

}

footer > .container > .social-media-box > ul {
    display: flex;
    margin-left: 20px;
    width: 100%;

}

footer > .container > .social-media-box ul > li {
    /* border: 1px solid green; */
    /* width: 200px; */
    margin-right: 30px;
    
}

footer > .container > .social-media-box > ul > li  p {
    font-weight: 700;
    font-size: 12px;
    font-family: "assistant" sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}

footer > .container > .social-media-box > ul > li > ul,
footer > .container > .social-media-box > ul > li > ul {
    font-size: 15px;
    font-weight: 400;
    color: rgb(105, 107, 121);
    text-transform: capitalize;
    line-height: 20px;
}

footer > .container > .social-media-box > ul > li:nth-child(3) {
    width: 335px;
}

footer > .container > .social-media-box > ul > li:nth-child(3) .images {
    display: flex;
    align-items: center;
    
}

footer > .container > .social-media-box > ul > li:nth-child(3) img {
    /* width: 70%; */
    height: 50px;
    margin-right: 10px;

}

footer > .container > .social-media-box > ul > li:nth-child(3) > .keep-in-touch > .icons {
    display: flex;
    justify-content: space-between;
    width: 100px;

}

footer > .container > .social-media-box > ul > li:nth-child(3) > .keep-in-touch > .icons img {
    width: 20px;
    height: 20px;
}

footer > .container > .social-media-box ul > li:nth-child(4) {
    width: 300px;
}

footer > .container > .social-media-box ul > li:nth-child(4) .box {
    display: flex;
    /* margin-left: 150px; */
    /* width: 100px; */
    align-items: center;
}

footer > .container > .social-media-box ul > li:nth-child(4) .box img {
    width: 40px;
    height: 40px;
    /* background-color: #F26A10; */
    margin-right: 10px;
}

footer > .container > .social-media-box ul > li:nth-child(4) .box > p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(105, 107, 121);
    text-transform: lowercase;
}

footer > .container > .popular-searches {

}

footer > .container > .popular-searches > .heading {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}

footer > .container > .popular-searches > .heading > .heading-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    /* border: 1px solid; */
    width: 130px;
}

footer > .container > .popular-searches > .heading > .line {
    width: 100%;
    height: 1px;
    background-color: #EAEAEC;
}
footer > .container > .popular-searches > .search-links {
    padding: 0 20px;
}

footer > .container > .popular-searches > .search-links > a {
    /* padding-left: 20px; */
    color: rgb(105, 107, 121);
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

footer > .container > .popular-searches > .contact-us {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* text-transform: capitalize; */
    
}
.contact-us > .contactus, .copyright, .company-info {
    color: rgb(148, 150, 159) !important;
    font-size: 16px;
    font-weight: 400;
}

footer > .container > .popular-searches > .contact-us > .contactus a {
    font-weight: 700;
    color: rgb(82, 108, 208);
}

footer > .container  > .line {
    margin: 10px 20px;
    /* width: 100%; */
    height: 1px;
    background-color: #EAEAEC;
}

footer > .container > .Registered-office {
    padding: 10px 20px ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    justify-content: left;
}

footer > .container > .Registered-office > .office-address {
    width: 50%;
}

footer > .container > .Registered-office > .office-address > p:first-child {
    font-family: 'assistant';
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(40, 44, 63);
    
}

footer > .container > .Registered-office > .office-address > p:last-child {
    font-family: 'assistant';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(148, 150, 159);
}

footer > .container > .Registered-office > .cin-details {
    font-family: 'assistant';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(148, 150, 159);
}

footer > .container > .Registered-office > .cin-details a {
    font-weight: 700;
    color: rgb(82, 108, 208);
}

footer > .container > .Paragraph {
    padding: 0 20px;
    font-family: 'assistant';
}

footer > .container > .Paragraph p {
    font-size: 14px;
    font-weight: 700;
    color: rgb(83, 87, 102);
    line-height: 18px;
    text-transform: uppercase;
    display: inline;
}

footer > .container > .Paragraph span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(148, 150 , 159);
    line-height: 18px;
    text-transform: capitalize;
}

footer > .container > .Paragraph ol li {
    list-style:decimal;
    /* padding-left: 35px; */
    list-style-position:initial;
    margin-left: 35px;

}

footer > .container > .Paragraph ol li::marker {
    /* content: 'â£'; */
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: rgb(148, 150 , 159);
}

footer > .container > .Paragraph ul li {
    list-style: disc;
    padding-left: 35px;
    list-style-position: inside;
    color: rgb(148, 150 , 159);
}